.root{
    -fx-font-size:17px;
    -fx-font-family: 'Avenir Heavy';
}

.greyBox{
    -fx-background-color: #E8E8E8;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#selected{
     -fx-line-spacing: .5em;
     -fx-font-size:16px;
}
